<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>
		%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] - [%-5level] - %logger{25} - CID[%X{correlationId}] - UID[%X{userId}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/${USER}/logs/${USER}-${HOSTNAME}-${INSTANCE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/${USER}/logs/archive/${USER}-${HOSTNAME}-${INSTANCE_NAME}-%d{yyyy-MM-dd-HH}-%i.log.tar.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>
		%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] - [%-5level] - %logger{25} - CID[%X{correlationId}] - UID[%X{userId}] - %msg%n
            </pattern>
        </encoder>
    </appender>
	<appender name="IPNNotificationLoggerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/${USER}/logs/${USER}-${HOSTNAME}-${INSTANCE_NAME}-IPN-push-notification.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /home/${USER}/logs/archive/${USER}-${HOSTNAME}-${INSTANCE_NAME}-IPN-push-notification-log-%d{yyyy-MM-dd-HH}-%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS}.%thread> %level -CID=%X{correlationId}/ %msg%n
            </pattern>
        </encoder>
    </appender>
	
	<logger name="IPN_NOTIFICATION_LOG">
        <level value="INFO"/>
        <appender-ref ref="IPNNotificationLoggerAppender"/>
    </logger>
    <logger name="com.konasl" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
    <logger name="com.konasl.commonlib.springweb.resttemplate.monitor.PoolLogScheduled" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
